body{
    font-family: Arial, sans-serif;
    background-color: #d1fdff;
    margin: 0;
}

.contenedor{
    width: 40%;
    margin: 20px auto;
    background: rgb(154, 240, 197);
    padding: 10px;
    border-radius: 8px;
}

h1,h2{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
    font-weight: bold;
}

input{
    padding: 8px;
    margin-top: 5px;
}

button{
    margin: 15px auto;
    width: 20%;
    margin-top: 20px;
    padding: 10px;
    background-color: #4782d6;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color: #115dcf;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td{
    border: 1px solid black;
}

th, td{
    padding: 10px;
    text-align: center;
}

th{
    background-color: #dddddd;
}

.fila{
    display: flex;
    gap: 30px;
    margin-bottom: 5px;
}

.grupo{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.grupo input{
    width: 100%;
    box-sizing: border-box;
}
.grupo-paralelo{
    flex: none;
    width: 48%;
}





